<ion-header [translucent]="true">
  <ion-toolbar class="raimake-bar">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-brand">
        <img src="assets/img/logo.png" class="logo-home" alt="byRaiMake">
        <div class="header-brand-text">
          <span class="brand-name"><span class="brand-pink">byRai</span><span class="brand-gold">Make</span></span>
          <span class="header-tagline">SUA BELEZA. SEU GLOW.</span>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openPage('/admin/login')" class="admin-btn">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>