<ion-app>
  <ion-menu contentId="main-content" type="overlay" side="start">
    <ion-header>
      <ion-toolbar class="menu-header-bar">
        <div class="menu-brand">
          <img src="assets/img/logo.png" class="menu-logo" alt="byRaiMake">
          <div class="menu-tagline">SUA BELEZA. SEU GLOW.</div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item lines="none" detail="false" routerLink="/admin/login" routerLinkActive="selected">
          <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
          <ion-label>Admin</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>